language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install --upgrade pip setuptools wheel pytest
  - pip install --only-binary=numpy,scipy numpy scipy plotly 

script:
  - py.test pytests.py  
